<div class="grid-container">
  <div class="content">
    <div class="form">
      <input
        type="text"
        id="username"
        placeholder="Username"
        class="form-control"
      />
      <input type="email" id="email" placeholder="Email" class="form-control" />
      <input
        type="password"
        id="password"
        placeholder="Password"
        class="form-control"
      />
      <input
        type="password"
        id="confirm-password"
        placeholder="Confirm Passoword"
        class="form-control"
      />
      <span class="terms-caption">
        By registering, you accept our terms of use and our privacy policy</span
      >
      <a href="home" class="btn-register">Register</a>
    </div>
    <div class="header">
      <span class="header__title">Logo</span>
      <span class="header__caption"
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Impedit,</span
      >
      <a class="header__btn-back"> &larr; Back to Login</a>
    </div>
  </div>
  <div class="footer footer-company">
    Developed by Midnight Tech. &copy; 2021 All Rights Reserved
  </div>
</div>
