<div class="container">
  <div *ngIf="authentication.isLogged == false; else elseBlock">
    <div class="row-md">
      <input class="form-control" type="text" [formControl]=email  placeholder="email">
      <input class="form-control" type="text" [formControl]=password placeholder="password">
      <button type="button" class="btn btn-primary" (click)="logIn()">Log-In</button>
      <button type="button" class="btn btn-secondary" (click)="routerFunc()">Cadastro</button>
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-template #elseBlock>
    <h1>You are logged</h1>
    <button type="button" class="btn btn-primary btn-md" (click)="logout()">logout</button>
    <button type="button" class="btn btn-secondary btn-md" [routerLink]="['/home']">Home</button>
    

  </ng-template>
</div>
