<div *ngIf="anime" (mouseenter)="anime.getComplete()">
  <div class="card">
    <div class="card__side">
      <div class="card__side--image" (click)="navigateToDetail()">
        <div class="card__side--image--flip">
          <img class="card__picture" [src]="anime.image_url" alt="teste" />
        </div>
        <div class="card__side--image--flip card__side--image--flip--back">
          <div class="card__side--image--flip--back--synopsis">
            <p class="card__side--image--flip--back--synopsis--text">
              {{ anime.complete?.synopsis }}
            </p>
          </div>
          <div class="card__side--image--flip--back--description">
            <div class="card__side--image--flip--back--description--category">
              <p
                class="card__side--image--flip--back--description--category--text"
              >
                <span *ngFor="let category of anime.complete?.genres">
                  {{ category.name }}
                </span>
              </p>
            </div>
            <div class="card__side--image--flip--back--description--info">
              <div class="card__side--image--flip--back--description--info--flex">
                <div class="card__side--image--flip--back--description--info--content">
                  <div *ngIf="inMyList == false">
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      Episodes
                    </p>
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      {{ anime.complete?.episodes }}
                    </p>
                  </div>
                  <div *ngIf="inMyList">
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      My Score
                    </p>
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      {{ mycontent?.myrating || 'NA' }}
                    </p>
                  </div>
                </div>
                <div
                  class="card__side--image--flip--back--description--info--content"
                >
                  <p
                    class="card__side--image--flip--back--description--info--flex-text"
                  >
                    Score
                  </p>
                  <p
                    class="card__side--image--flip--back--description--info--flex-text"
                  >
                    {{ anime.complete?.score }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card__side--title">
        <h1 class="card__title" (click)="navigateToDetail()">
          {{ anime.title }}
        </h1>
      </div>

      <div class="card__side--buttons">
        <div class="container-flex">
          <div *ngIf="lookMyList">
            <div
              class="card__button-container card__button-container--add"
              *ngIf="!inMyList"
              (click)="addToMyList()"
            >
              <p class="card__button-container__text">Add to list</p>
              <svg class="card__button-container__icon">
                <use xlink:href="assets/symbol-defs.svg#icon-library_add"></use>
              </svg>
            </div>
            <div
              class="card__button-container card__button-container--add"
              *ngIf="inMyList"
              (click)="deleteToMyList()"
            >
              <p class="card__button-container__text">Remove</p>
              <svg class="card__button-container__icon">
                <use xlink:href="assets/symbol-defs.svg#icon-delete"></use>
              </svg>
            </div>
          </div>
          <div
            class="card__button-container card__button-container--recommend"
            (click)="disableReceiveRecommendation(true)"
          >
            <p class="card__button-container__text">Recommend to...</p>
            <svg class="card__button-container__icon">
              <use xlink:href="assets/symbol-defs.svg#icon-share"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <app-recommendation
      type="ANIME"
      [contentId]="anime.mal_id.toString()"
      [isActiveRecommend]="isActiveRecommend"
      (isActiveEvent)="disableReceiveRecommendation($event)"
    >
    </app-recommendation>
  </div>
</div>

<div *ngIf="book" (mouseenter)="book.getComplete()">
  <div class="card">
    <div class="card__side">
      <div class="card__side--image" (click)="navigateToDetail()">
        <div class="card__side--image--flip">
          <img
            class="card__picture"
            [src]="book.volumeInfo.image"
            alt="teste"
          />
        </div>
        <div class="card__side--image--flip card__side--image--flip--back">
          <div class="card__side--image--flip--back--synopsis">
            <p class="card__side--image--flip--back--synopsis--text">
              {{ book.complete?.volumeInfo?.description }}
            </p>
          </div>
          <div class="card__side--image--flip--back--description">
            <div class="card__side--image--flip--back--description--category">
              <p
                class="card__side--image--flip--back--description--category--text"
              >
                {{ book.complete?.volumeInfo?.categories }}
              </p>
            </div>
            <div class="card__side--image--flip--back--description--info">
              <div class="card__side--image--flip--back--description--info--flex">
                <div class="card__side--image--flip--back--description--info--content">
                  <div *ngIf="inMyList == false">
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      pages
                    </p>
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      {{ book.complete?.volumeInfo?.pageCount }}
                    </p>
                  </div>
                  <div *ngIf="inMyList">
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      My Score
                    </p>
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      {{ mycontent?.myrating || 'NA' }}
                    </p>
                  </div>
                </div>
                <div
                  class="card__side--image--flip--back--description--info--content"
                >
                  <p
                    class="card__side--image--flip--back--description--info--flex-text"
                  >
                    Score
                  </p>
                  <p
                    class="card__side--image--flip--back--description--info--flex-text"
                  >
                    {{ book.complete?.volumeInfo?.averageRating }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card__side--title">
        <h1 class="card__title" (click)="navigateToDetail()">
          {{ book.volumeInfo.title }}
        </h1>
      </div>

      <div class="card__side--buttons">
        <div class="container-flex">
          <div
            class="card__button-container card__button-container--add"
            *ngIf="!inMyList"
            (click)="addToMyList()"
          >
            <p class="card__button-container__text">Add to list</p>
            <svg class="card__button-container__icon">
              <use xlink:href="assets/symbol-defs.svg#icon-library_add"></use>
            </svg>
          </div>
          <div
            class="card__button-container card__button-container--recommend"
            (click)="disableReceiveRecommendation(true)"
          >
            <p class="card__button-container__text">Recommend to...</p>
            <svg class="card__button-container__icon">
              <use xlink:href="assets/symbol-defs.svg#icon-share"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-recommendation
    type="BOOK"
    [contentId]="book.id"
    [isActiveRecommend]="isActiveRecommend"
    (isActiveEvent)="disableReceiveRecommendation($event)"
  >
  </app-recommendation>
</div>

<div *ngIf="serie" (mouseenter)="serie.getComplete()">
  <div class="card">
    <div class="card__side">
      <div class="card__side--image" (click)="navigateToDetail()">
        <div class="card__side--image--flip">
          <img class="card__picture" [src]="serie.poster_path" alt="teste" />
        </div>
        <div class="card__side--image--flip card__side--image--flip--back">
          <div class="card__side--image--flip--back--synopsis">
            <p class="card__side--image--flip--back--synopsis--text">
              {{ serie.complete?.overview }}
            </p>
          </div>
          <div class="card__side--image--flip--back--description">
            <div class="card__side--image--flip--back--description--category">
              <p
                class="card__side--image--flip--back--description--category--text"
              >
                <span *ngFor="let genre of serie.complete?.genres">{{
                  genre.name
                }}</span>
              </p>
            </div>
            <div class="card__side--image--flip--back--description--info">
              <div class="card__side--image--flip--back--description--info--flex">
                <div class="card__side--image--flip--back--description--info--content">
                  <div *ngIf="inMyList == false">
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      Seasons
                    </p>
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      {{ serie.complete?.number_of_seasons }}
                    </p>
                  </div>
                  <div *ngIf="inMyList">
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      My Score
                    </p>
                    <p class="card__side--image--flip--back--description--info--flex-text">
                      {{  mycontent?.myrating || 'NA' }}
                    </p>
                  </div>
                </div>
                <div
                  class="card__side--image--flip--back--description--info--content"
                >
                  <p
                    class="card__side--image--flip--back--description--info--flex-text"
                  >
                    Score
                  </p>
                  <p
                    class="card__side--image--flip--back--description--info--flex-text"
                  >
                    {{ serie.complete?.vote_average }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card__side--title">
        <h1 class="card__title" (click)="navigateToDetail()">
          {{ serie.name }}
        </h1>
      </div>

      <div class="card__side--buttons">
        <div class="container-flex">
          <div
            class="card__button-container card__button-container--add"
            *ngIf="!inMyList"
            (click)="addToMyList()"
          >
            <p class="card__button-container__text">Add to list</p>
            <svg class="card__button-container__icon">
              <use xlink:href="assets/symbol-defs.svg#icon-library_add"></use>
            </svg>
          </div>
          <div
            class="card__button-container card__button-container--recommend"
            (click)="disableReceiveRecommendation(true)"
          >
            <p class="card__button-container__text">Recommend to...</p>
            <svg class="card__button-container__icon">
              <use xlink:href="assets/symbol-defs.svg#icon-share"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <app-recommendation
      type="SERIE"
      [contentId]="serie.id.toString()"
      [isActiveRecommend]="isActiveRecommend"
      (isActiveEvent)="disableReceiveRecommendation($event)"
    >
    </app-recommendation>
  </div>
</div>
