@import "../../sass/abstract/variables";

.card {
  background-color: $black1;
  width: 100%;
  height: 100%;
  border-radius: $the-border-radius;

  &__side {
    display: grid;
    grid-template-rows:
      [image-start] 40rem [image-end title-start] minmax(5rem, min-content)
      [title-end button-start] minmax(5rem, min-content) [button-end];

    &--image {
      display: grid;
      grid-row: image-start / image-end;
      cursor: pointer;

      perspective: 150rem;
      -moz-perspective: 150rem;
      position: relative;

      &--flip {
        height: 100%;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;

        &--back {
          display: grid;
          grid-template-rows:
            [synopsis-start] minmax(20rem, 1fr)
            [synopsis-end description-start] minmax(8rem, min-content)
            [description-end];
          transform: rotateY(180deg);

          &--synopsis {
            display: grid;
            grid-row: synopsis-start / synopsis-end;
            padding: 1rem;
            color: $white;
            font-size: $font-size-medium-small;

            &--text {
              background: -webkit-linear-gradient($white, $black3);
              background-clip: text;
              -webkit-text-fill-color: transparent;
              overflow: hidden;
              text-align: justify;
            }
          }

          &--description {
            display: grid;
            grid-row: description-start / description-end;
            color: $white;
            font-size: $font-size-medium;
            grid-template-rows:
              [category-start] minmax(3rem, min-content)
              [category-end info-start] minmax(5rem, min-content)
              [info-end];
            row-gap: 1rem;

            background-color: $black1;

            &--category {
              display: grid;
              grid-row: category-start / category-end;
              background-color: $black4;
              padding: 1rem;

              &--text {
                overflow: hidden;
              }
            }

            &--info {
              display: grid;
              grid-row: info-start / info-end;
              background-color: $black4;
              padding: 1rem;

              &--flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }

              &--content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }

              &--text {
                text-transform: uppercase;
              }
            }
          }
        }
      }

      &:hover &--flip {
        transform: rotateY(-180deg);
      }

      &:hover &--flip--back {
        transform: rotateY(0);
      }
    }

    &--title {
      display: grid;
      grid-row: title-start / title-end;
      padding: 1.5rem;
    }

    &--buttons {
      display: grid;
      grid-row: button-start / button-end;
      // padding: 0rem 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &__picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $the-border-radius;
  }

  &__title {
    color: $white;
    text-transform: uppercase;
    hyphens: auto;
    justify-self: first baseline;
    cursor: pointer;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: transparent;
    border-radius: $the-border-radius;
    border-bottom: 0.2rem solid rgba($primary3, 1);
    border-right: 0.2rem solid rgba($primary3, 1);
    box-shadow: 0 0.5rem 1rem -0.5rem rgba($black, 1);
    transition: all 0.4s ease;
    height: 100%;
    cursor: pointer;

    &--add {
      background-image: linear-gradient(105deg, $primary1 50%, $primary2 50%);
    }

    &--remove {
      background-image: linear-gradient(105deg, $primary1 62%, $primary2 40%);
    }

    &--recommend {
      background-image: linear-gradient(105deg, $primary1 55%, $primary2 40%);
    }

    &--left {
      grid-column: 1 / 1;
      margin-right: 1rem;
    }

    &--right {
      grid-column: 2 / 2;
    }

    &__text {
      font-size: $font-size-medium-small;
      font-weight: bold;
      margin-right: 1rem;
      color: $black3;
    }

    &__icon {
      height: 2.5rem;
      width: 2.5rem;
      fill: $black3;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__epi-pag {
    display: flex;
    color: $white;
    fill: $white;
    align-items: center;
    margin-right: 1rem;

    &__text {
      font-size: $font-size-medium-small;
      color: currentColor;
    }
  }

  &__share {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    color: $white;
    fill: $white;

    &__text {
      font-size: $font-size-small;
      color: currentColor;
    }

    &__icon {
      height: 1rem;
      width: 1rem;
      color: currentColor;
    }

    &:hover {
      cursor: pointer;
      color: $primary1;
      fill: $primary1;
    }
  }
}

.container-flex {
  display: grid;
  grid-template-columns: max-content max-content;
  padding: 0 1.5rem;
}

.tooltip {
  position: relative;
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    min-width: 12rem;
    max-width: 100%;
    bottom: 100%;
    background-color: rgba($black4, 0.98);
    color: $white;
    text-align: left;
    border-radius: $the-border-radius;
    padding: 0.5rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  &__name {
    font-size: $font-size-medium;
  }

  &__id {
    font-size: $font-size-small;
    text-transform: uppercase;
  }
}

.card__share:hover ~ .tooltip__container {
  visibility: visible;
}
