@import "../../sass/abstract/variables";

.grid-container-detail {
  display: grid;
  grid-template-columns:
    [void-start header-start] 2rem [void-end about-start] minmax(
      min-content,
      24rem
    )
    [about-end synopsis-start] minmax(min-content, 1fr)
    [synopsis-end header-end];

  grid-template-rows:
    [header-start] min-content [header-end about-start synopsis-start] minmax(
      min-content,
      1fr
    )
    [about-end synopsis-end];

  @media only screen and (max-width: $bp-900) {
    grid-template-columns:
      [header-start about-start] minmax(min-content, 24rem)
      [about-end synopsis-start] minmax(min-content, 1fr)
      [synopsis-end header-end];
  }

  @media only screen and (max-width: $bp-700) {
    grid-template-columns:
      [header-start about-start synopsis-start] minmax(min-content, 1fr)
      [header-end about-end synopsis-end];

    grid-template-rows:
      [header-start] min-content [header-end about-start ] min-content
      [about-end synopsis-start] minmax(min-content, 1fr)
      [synopsis-end];
  }
}

.header {
  grid-column: header-start / header-end;
  grid-row: header-start / header-end;
}

.about {
  grid-column: about-start / about-end;
  grid-row: about-start / about-end;
}

.synopsis {
  grid-column: synopsis-start / synopsis-end;
  grid-row: synopsis-start / synopsis-end;
  padding: 4rem 0 0 2rem;
  color: $white;

  @media only screen and (max-width: $bp-700) {
    padding: 4rem 0 0 0;
  }

  &__title {
    font-size: $font-size-large;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3rem;
    padding-bottom: 3rem;
  }

  &__content {
    font-size: $font-size-medium;
    text-align: justify;
    letter-spacing: 0.3rem;
    line-height: 1.6;
  }
}
