@import "../../sass/abstract/variables";

.grid-container-detail {
  display: grid;
  grid-template-columns:
    [void-start header-start] 2rem [void-end about-start] minmax(
      min-content,
      24rem
    )
    [about-end synopsis-start] minmax(min-content, 1fr)
    [synopsis-end header-end];
  grid-template-rows:
    [header-start] min-content [header-end content-start] minmax(
      min-content,
      1fr
    )
    [content-end];
}

.header {
  grid-column: header-start / header-end;
  grid-row: header-start / header-end;
}

.about {
  grid-column: about-start / about-end;
  grid-row: content-start / content-end;
}

.synopsis {
  grid-column: synopsis-start / synopsis-end;
  grid-row: content-start / content-end;
  padding-top: 4rem;
  padding-left: 2rem;
  color: $white;

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3rem;
    padding-bottom: 3rem;
  }

  &__content {
    font-size: 1.4rem;
    text-align: justify;
    letter-spacing: 0.3rem;
    line-height: 1.6;
  }
}
