<!-- @ TODO retirar esse monte de type="algumaCoisa" pq o type ja esta sendo passado por URL -->
<div class="grid-container-detail">
  <div class="header">
    <app-header-detail *ngIf="anime" [anime]="anime" [type]="'ANIME'"></app-header-detail>
    <app-header-detail *ngIf="book" [book]="book" [type]="'BOOK'"></app-header-detail>
    <app-header-detail (seasonAtualEmitter)="setIndexSerie($event)" *ngIf="serie" [serie]="serie" [type]="'SERIE'">
    </app-header-detail>
  </div>
  <div class="about">
    <app-about-detail *ngIf="anime" [anime]="anime" [type]="'ANIME'"></app-about-detail>
    <app-about-detail *ngIf="book" [book]="book" [type]="'BOOK'"></app-about-detail>
    <app-about-detail [season]="season" *ngIf="serie" [serie]="serie" [type]="'SERIE'"></app-about-detail>
  </div>
  <div class="synopsis">
    <h1 class="synopsis__title">Synopsis</h1>
    <p class="synopsis__content" *ngIf="anime">{{ anime.synopsis || 'No description found' }}</p>
    <p class="synopsis__content" *ngIf="serie">
      <!-- magia -->
      {{ serie.seasons[season].overview || serie.overview || 'No description found' }}
    </p>
    <p class="synopsis__content" *ngIf="book">
      {{ book.volumeInfo.description || 'No description found' }}
    </p>
  </div>
</div>