<div class="menu">
  <div class="menu__logo">
    <img class="menu__img" [routerLink]="['home']" src="../../../assets/logo.svg" />
    <svg class="menu__icon" (click)="closeMenu()">
      <use href="assets/symbol-defs.svg#icon-clear"></use>
    </svg>
  </div>
  <div class="categories">
    <span class="categories categories__text">
      <span class="categories categories__title" (click)="navigateToMyList('anime')">Anime</span>
      &nbsp;/&nbsp;
      <span class="categories categories__title" (click)="navigateToMyRecommendation('anime')">Recommendation</span>
    </span>
    <div class="categories__container" *ngFor="let iten of anime">
      <span (click)="navigateToDetail(iten.anime.mal_id.toString(), 'anime')" class="categories__item"
        [title]="iten.anime.title">{{
        iten.anime.title }}</span>
      <svg *ngIf="iten.content.watched" class="categories__icon">
        <use href="assets/symbol-defs.svg#icon-check"></use>
      </svg>
    </div>
    <div *ngIf="anime.length == 0">
      You don't have any anime in your list
    </div>
  </div>
  <div class="categories">
    <span class="categories categories__text">
      <span class="categories categories__title" (click)="navigateToMyList('serie')">Serie</span>
      &nbsp;/&nbsp;
      <span class="categories categories__title" (click)="navigateToMyRecommendation('serie')">Recommendation</span>
    </span>
    <div class="categories__container" *ngFor="let iten of serie">
      <span (click)="navigateToDetail(iten.serie.id.toString(), 'serie')" class="categories__item"
        [title]="iten.serie.name">{{ iten.serie.name }}
      </span>
      <svg *ngIf="iten.content.watched" class="categories__icon">
        <use href="assets/symbol-defs.svg#icon-check"></use>
      </svg>
    </div>
    <div *ngIf="serie.length == 0">
      You don't have any serie in your list
    </div>
  </div>
  <div class="categories">
    <span class="categories categories__text">
      <span class="categories categories__title" (click)="navigateToMyList('book')">Book</span>
      &nbsp;/&nbsp;
      <span class="categories categories__title" (click)="navigateToMyRecommendation('book')">Recommendation</span>
    </span>
    <div class="categories__container" *ngFor="let iten of book">
      <span (click)="navigateToDetail(iten.book.id, 'book')" class="categories__item"
        [title]="iten.book.volumeInfo.title">{{ iten.book.volumeInfo.title }}
      </span>
      <svg *ngIf="iten.content.watched" class="categories__icon">
        <use href="assets/symbol-defs.svg#icon-check"></use>
      </svg>
    </div>
    <div *ngIf="book.length == 0">
      You don't have any book in your list
    </div>
  </div>
</div>