<div class="content">
  <img
    class="content__logo"
    [routerLink]="['home']"
    src="../../../assets/logo.svg"
  />
  <div class="categories">
    <span class="categories categories__text">
      <span
        class="categories categories__title"
        (click)="navigateToMyList('anime')"
        >Anime</span
      >
      &nbsp;/&nbsp;
      <span
        class="categories categories__title"
        (click)="navigateToMyRecommendation('anime')"
        >Recomendation</span
      >
    </span>
    <div class="categories__container" *ngFor="let iten of anime">
      <span
        (click)="navigateToDetail(iten.mal_id.toString(), 'anime')"
        class="categories__item"
        >{{ iten.title }}</span
      >
      <svg class="categories__icon">
        <use href="assets/symbol-defs.svg#icon-check"></use>
      </svg>
    </div>
  </div>
  <div class="categories">
    <span class="categories categories__text">
      <span
        class="categories categories__title"
        (click)="navigateToMyList('serie')"
        >Serie</span
      >
      &nbsp;/&nbsp;
      <span
        class="categories categories__title"
        (click)="navigateToMyRecommendation('serie')"
        >Recomendation</span
      >
    </span>
    <div class="categories__container" *ngFor="let iten of serie">
      <span
        (click)="navigateToDetail(iten.id.toString(), 'serie')"
        class="categories__item"
        >{{ iten.name }}</span
      >

      <svg class="categories__icon">
        <use href="assets/symbol-defs.svg#icon-check"></use>
      </svg>
    </div>
  </div>
  <div class="categories">
    <span class="categories categories__text">
      <span
        class="categories categories__title"
        (click)="navigateToMyList('book')"
        >Book</span
      >
      &nbsp;/&nbsp;
      <span
        class="categories categories__title"
        (click)="navigateToMyRecommendation('book')"
        >Recomendation</span
      >
    </span>
    <div class="categories__container" *ngFor="let iten of book">
      <span
        (click)="navigateToDetail(iten.id, 'book')"
        class="categories__item"
        >{{ iten.volumeInfo.title }}</span
      >
      <svg class="categories__icon">
        <use href="assets/symbol-defs.svg#icon-check"></use>
      </svg>
    </div>
  </div>
</div>
