@import "../../sass/abstract/variables";

.menu {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-color: $black4;
  padding: 2rem;

  &__logo {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    margin-bottom: 6rem;
    cursor: pointer;
    align-self: baseline;
    height: 12rem;
  }

  &__icon {
    display: none;

    @media only screen and (max-width: $bp-1360) {
      display: block;
      width: 3rem;
      height: 3rem;
      fill: $white;
      cursor: pointer;

      &:hover {
        fill: $primary1;
      }
    }
  }
}

.categories {
  display: flex;
  flex-direction: column;
  color: $white;
  margin-bottom: 6rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
  }

  &__text {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    align-self: baseline;
  }

  &__title {
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 0;
    display: flex;
    align-self: baseline;
    cursor: pointer;

    &:hover {
      color: $primary1;
    }
  }

  &__item {
    background-color: transparent;
    font-size: 1.6rem;
    margin-right: 1rem;
    cursor: pointer;

    // truncate string
    // width-container-grid - 2xpaddinng-content - width-icon
    max-width: calc(18vw - 7rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media only screen and (max-width: $bp-1360) {
      max-width: calc(25vw - 7rem);
    }

    @media only screen and (max-width: $bp-1000) {
      max-width: calc(45vw - 7rem);
    }

    @media only screen and (max-width: $bp-600) {
      max-width: calc(65vw - 7rem);
    }

    @media only screen and (max-width: $bp-340) {
      max-width: calc(80vw - 7rem);
    }

    &:hover {
      color: $primary1;
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: $primary1;
  }
}
