<div [ngClass]="{ hidden: !isActiveRecommend }" class="fixed-container">
  <div class="fixed-container membrana" (click)="disableRecommendation()"></div>

  <div class="flex-container">
    <h1 class="flex-container__title">Recommend to...</h1>

    <div *ngFor="let friend of friends">
      <div class="recommend">
        <div class="recommend__user">
          <span class="recommend__user__name">{{friend.username}}</span>
          <span class="recommend__user__id">#{{friend.applicationUserId}}</span>
        </div>

        <a class="recommend__button recommend__button--1" (click)="recommend(friend.applicationUserId)">Recommend</a>
      </div>
    </div>
  </div>
</div>