<div class="flex-container">
  <div class="title">
    <h1 class="title__text">Alternative Titles</h1>
  </div>
  <div class="info">
    <p class="info__type">English:</p>
    <p class="info__value">Violet Evergarden</p>
  </div>
  <div class="info">
    <span class="info__type"
      >Japanese:
      <span class="info__value">ヴァイオレット・エヴァーガーデン</span></span
    >
  </div>

  <div class="title">
    <h1 class="title__text">Information</h1>
  </div>
  <div class="info">
    <span class="info__type">Type: <span class="info__value">TV</span></span>
  </div>
  <div class="info">
    <span class="info__type"
      >Episodes: <span class="info__value">13</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Status: <span class="info__value">Finished Airing</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Aired:
      <span class="info__value">Jan 11, 2018 to Apr 5, 2018 </span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Premiered: <span class="info__value">Winter 2018</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Brodcast:
      <span class="info__value">Thursdays at 00:00 (JST) </span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Producers:
      <span class="info__value"
        >Lantis, Pony Canyon, Rakuonsha, ABC Animation
      </span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Licensors: <span class="info__value">Funimation</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Studios: <span class="info__value">Kyoto Animation</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Sources: <span class="info__value">Light novel</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Genres:
      <span class="info__value">Slice of Life, Drama, Fantasy</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Duration: <span class="info__value">24 min per ep</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Rating: <span class="info__value">PG-13 - Teens 13 or older</span></span
    >
  </div>

  <div class="title">
    <h1 class="title__text">Related Anime</h1>
  </div>
  <div class="info">
    <span class="info__type"
      >Adaption: <span class="info__value">Violet Evergarden</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >side story:
      <span class="info__value"
        >Violet Evergarden: Kitto "Ai" wo Shiru Hi ga Kuru no Darou, Violet
      </span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Sequel: <span class="info__value">Violet Evergarden Movie</span></span
    >
  </div>
  <div class="info">
    <span class="info__type"
      >Other: <span class="info__value">Violet Evergarden CM</span></span
    >
  </div>

  <div class="title">
    <h1 class="title__text">Opening theme</h1>
  </div>
  <div class="info">
    <span class="info__value">"Sincerely" by TRUE</span>
  </div>

  <div class="title">
    <h1 class="title__text">Ending theme</h1>
  </div>
  <div class="info">
    <span class="info__value"
      >"#1: "Michishirube (みちしるべ)" by Minori Chihara (eps 2-8)</span
    >
  </div>
  <div class="info">
    <span class="info__value">#2: "Believe in..." by Aira Yuuki (ep 9)</span>
  </div>
</div>
