<form [formGroup]="register" (ngSubmit)="onSubmit()">
  <input class="form-control" type="text" formControlName="username" placeholder="username">
  <input class="form-control" type="text" formControlName="email" placeholder="email">
  <input class="form-control" type="password" formControlName="password" placeholder="password">
  <input class="form-control" type="password" formControlName="confirmPassword" placeholder="confirm password">
  <input type="submit">
</form>
{{register.value.username}}

