<div class="container">
  <input type="radio" name="slider" id="item-1" />
  <input type="radio" name="slider" id="item-2" />
  <input type="radio" name="slider" id="item-3" checked />
  <input type="radio" name="slider" id="item-4" />
  <input type="radio" name="slider" id="item-5" />
  <div class="cards">
    <label class="card card--1" for="item-1" id="song-1">
      <div class="darkness" id="shadow-1"></div>
      <div class="card__hover">
        <span class="card__text">{{ title }}</span>
        <a class="card__button">View More</a>
      </div>
      <img
        src="https://images.unsplash.com/photo-1530651788726-1dbf58eeef1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=882&q=80"
        alt="song"
      />
    </label>

    <label class="card card--2" for="item-2" id="song-2">
      <div class="darkness" id="shadow-2"></div>
      <div class="card__hover">
        <span class="card__text">{{ title }}</span>
        <a class="card__button">View More</a>
      </div>
      <img
        src="https://images.unsplash.com/photo-1559386484-97dfc0e15539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80"
        alt="song"
      />
    </label>

    <label class="card card--3" for="item-3" id="song-3">
      <div class="darkness" id="shadow-3"></div>
      <div class="card__hover">
        <span class="card__text">{{ title }}</span>
        <a class="card__button">View More</a>
      </div>
      <img
        src="https://images.unsplash.com/photo-1533461502717-83546f485d24?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
        alt="song"
      />
    </label>

    <label class="card card--4" for="item-4" id="song-4">
      <div class="darkness" id="shadow-4"></div>
      <div class="card__hover">
        <span class="card__text">{{ title }}</span>
        <a class="card__button">View More</a>
      </div>
      <img src="https://picsum.photos/id/1043/800/450" alt="song" />
    </label>

    <label class="card card--5" for="item-5" id="song-5">
      <div class="darkness" id="shadow-5"></div>
      <div class="card__hover">
        <span class="card__text">{{ title }}</span>
        <a class="card__button">View More</a>
      </div>
      <img src="https://picsum.photos/id/1044/800/450" alt="song" />
    </label>
  </div>
</div>
