<div class="container">
  <input type="radio" name="slider" id="item-1" />
  <input type="radio" name="slider" id="item-2" />
  <input type="radio" name="slider" id="item-3" checked />
  <input type="radio" name="slider" id="item-4" />
  <input type="radio" name="slider" id="item-5" />
  <div class="cards">
    <label *ngFor="let content of contents; index as i" [class]="'card card--' + (i + 1)" [for]="'item-' + (i + 1)" [id]="'song-' + (i+1)">
      <div class="darkness" [id]="'shadow-' + (i + 1)"></div>
      <div class="card__hover">
        <span class="card__text">{{ content.title }}</span>
        <a class="card__button" (click)="navigateToDetail(type,content.id)">View More</a>
      </div>
      <img
        [src]="content.img"
        alt="song"
      />
    </label>
  </div>
</div>
