<div class="container-grid">
  <div class="title">
    <h1 class="title__text">Resultados</h1>
  </div>

  <div class="pagination pagination--top">
    <app-pagination pageCalled="catalogo" (visibleListAnime)="anime = $event" (visibleListBook)="book = $event"
      (visibleListSerie)="serie = $event" [type]="type" (softLoading)="softLoad = $event"></app-pagination>
  </div>

  <div *ngIf="!softLoad" class="list">
    <div class="list__card" *ngFor="let content of anime">
      <!-- {{ content.title }} -->
      <app-card [anime]="content"></app-card>
    </div>
    <div class="list__card" *ngFor="let content of book">
      <!-- {{ content.volumeInfo.title }} -->
      <app-card [book]="content"></app-card>
    </div>
    <div class="list__card" *ngFor="let content of serie">
      <!-- {{ content.name }} -->
      <app-card [serie]="content"></app-card>
    </div>
  </div>
  <div *ngIf="softLoad">
    Loading...
  </div>

  <div class="pagination pagination--bottom">
    <!-- <app-pagination [type]="type" [pageCalled]="'catalogo'"></app-pagination> -->
  </div>
</div>