<div class="container-grid">
  <div class="title">
    <h1 class="title__text">Friends</h1>
    <div class="title__button" (click)="showAddFriends()">
      <img
        src="../../../assets/icon-friends.svg"
        alt="icon-friends"
        class="title__button__icon"
      />
      <a class="title__button__item">Friends</a>
    </div>
  </div>

  <div class="pagination pagination--top">
    <app-pagination></app-pagination>
  </div>

  <div class="friends">
    <div class="friends__user">
      <span class="friends__user__name">Lukazukimo</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>

    <div class="friends__user">
      <span class="friends__user__name">Adenilson</span>
      <span class="friends__user__id">#asdf564a</span>
    </div>
    <span class="friends__category friends__category--anime">Anime (514)</span>
    <span class="friends__category friends__category--serie">Serie (2)</span>
    <span class="friends__category friends__category--book">Book (2)</span>
    <span class="friends__category friends__remove">Remover</span>
  </div>

  <div class="pagination pagination--bottom">
    <app-pagination></app-pagination>
  </div>

  <div [ngClass]="{ hidden: !isActive }" class="add-friends">
    <div class="add-friends membrana" (click)="showAddFriends()"></div>
    <form class="add-friends__form">
      <input
        type="text"
        id="id"
        placeholder="Insert Friend ID"
        class="add-friends__input"
      />

      <div class="add-friends__button">
        <a>Send</a>
      </div>
    </form>
  </div>
</div>
