<div class="container-grid">
  <div class="title">
    <h1 class="title__text">Friends</h1>
    <div class="title__button" (click)="showAddFriends()">
      <img
        src="../../../assets/icon-friends.svg"
        alt="icon-friends"
        class="title__button__icon"
      />
      <a class="title__button__item">Friends</a>
    </div>
  </div>

  <div class="pagination pagination--top">
    <app-pagination></app-pagination>
  </div>

  <div class="friends">
    <div class="friends__container" *ngFor="let friend of friends">
      <div class="friends__user">
        <span class="friends__user__name">{{ friend.username }}</span>
        <span class="friends__user__id">#{{ friend.applicationUserId }}</span>
      </div>
      <span class="friends__category friends__category--anime"
        >Anime (514)</span
      >
      <span class="friends__category friends__category--serie">Serie (2)</span>
      <span class="friends__category friends__category--book">Book (2)</span>
      <span
        class="friends__category friends__remove"
        (click)="showRemoveFriends()"
        >Remove</span
      >
    </div>
  </div>

  <div class="pagination pagination--bottom">
    <app-pagination></app-pagination>
  </div>

  <div [ngClass]="{ hidden: !isActiveAdd }" class="add-remove-friends">
    <div class="add-remove-friends membrana" (click)="showAddFriends()"></div>
    <form class="add-remove-friends__form">
      <input
        [formControl]="id"
        type="text"
        id="id"
        placeholder="Insert Friend ID"
        class="add-remove-friends__input"
      />

      <div class="add-remove-friends__button" (click)="sendFriendRquest()">
        <a>Send</a>
      </div>
    </form>
  </div>

  <div [ngClass]="{ hidden: !isActiveRemove }" class="add-remove-friends">
    <div
      class="add-remove-friends membrana"
      (click)="showRemoveFriends()"
    ></div>
    <form class="add-remove-friends__form">
      <input
        type="text"
        id="id"
        placeholder="Insert Friend ID"
        class="add-remove-friends__input"
        [formControl]="id"
      />

      <div class="add-remove-friends__button" (click)="removeFriend()">
        <a>Remove</a>
      </div>
    </form>
  </div>
</div>
