<div class="container-grid">
  <div class="title">
    <h1 class="title__text">Friends</h1>
    <div class="title__button" (click)="showAddFriends()">
      <p class="title__button__text">Friends</p>
      <svg class="title__button__icon">
        <use xlink:href="assets/symbol-defs.svg#icon-person_add_alt_1"></use>
      </svg>
    </div>
  </div>

  <div class="pagination pagination--top">
    <app-pagination pageCalled="friend" [atualPage]="page" [totalPage]="totalPage"></app-pagination>
  </div>

  <div class="friends">
    <div class="friends__container" *ngFor="let friend of friends">
      <div class="friends__user">
        <span class="friends__user__name">{{ friend.user.username }}</span>
        <span class="friends__user__id">#{{ friend.user.applicationUserId }}</span>
      </div>
      <span class="friends__category friends__category--anime"
        (click)="redirectToFriendList(friend.user.applicationUserId, 'ANIME')">Anime ({{friend.aniCount}})</span>
      <span class="friends__category friends__category--serie"
        (click)="redirectToFriendList(friend.user.applicationUserId, 'SERIE')">Serie ({{friend.serieCount}})</span>
      <span class="friends__category friends__category--book"
        (click)="redirectToFriendList(friend.user.applicationUserId, 'BOOK')">Book ({{friend.bookCount}})</span>

      <div class="title__button friends__remove" (click)="showRemoveFriends(friend.user.applicationUserId)">
        <p class="title__button__text">Remove</p>
        <svg class="title__button__icon">
          <use xlink:href="assets/symbol-defs.svg#icon-delete"></use>
        </svg>
      </div>
    </div>
    <div *ngIf="friends.length == 0">
      you don't have any friends
    </div>
  </div>

  <div class="pagination pagination--bottom">
    <!-- <app-pagination></app-pagination> -->
  </div>

  <div [ngClass]="{ hidden: !isActiveAdd }" class="add-remove-friends">
    <div class="add-remove-friends membrana" (click)="showAddFriends()"></div>
    <form class="add-remove-friends__form">
      <input [formControl]="id" type="text" id="id" placeholder="Insert Friend ID" class="add-remove-friends__input" />

      <div class="add-remove-friends__button" (click)="sendFriendRquest()">
        <a>Send</a>
      </div>
    </form>
  </div>

  <div [ngClass]="{ hidden: !isActiveRemove }" class="add-remove-friends">
    <div class="add-remove-friends membrana" (click)="showRemoveFriends()"></div>
    <form class="add-remove-friends__form">
      <input type="text" id="id" placeholder="Insert Friend ID" class="add-remove-friends__input" [formControl]="id" />

      <div class="add-remove-friends__button" (click)="removeFriend()">
        <a>Remove</a>
      </div>
    </form>
  </div>
</div>