
<div class="container-grid">
  <div class="title">
    <h1 *ngIf="type == 'anime'" class="title__text">My Anime</h1>
    <h1 *ngIf="type == 'serie'" class="title__text">My Serie</h1>
    <h1 *ngIf="type == 'book'" class="title__text">My Book</h1>
  </div>

  <div class="pagination pagination--top">
    <app-pagination [atualPage]="1" [totalPage]="0"></app-pagination>
  </div>

  <div class="list">
    <div class="list__card" *ngFor="let content of homeContext.myListAnimePage">
      <!-- {{ content.title }} -->
      <app-card [anime]="content.anime" ></app-card>
    </div>
    <div class="list__card" *ngFor="let content of homeContext.myListSeriePage">
      <!-- {{ content.volumeInfo.title }} -->
      <app-card [serie]="content.serie"></app-card>
    </div>
    <div class="list__card" *ngFor="let content of homeContext.myListBookPage">
      <!-- {{ content.name }} -->
      <app-card [book]="content.book" ></app-card>
    </div>
  </div>

  <div class="pagination pagination--bottom">
    <app-pagination [atualPage]="1" [totalPage]="0"></app-pagination>
  </div>
</div>
