<div class="flex-container">
  <form class="search">
    <input type="text" class="search__input" placeholder="Search..." />

    <button class="search__button-search">
      <img
        src="../../../assets/icon-search.svg"
        alt="icon-search"
        class="search__icon"
      />
    </button>

    <!-- <button class="search__button-search">
      <svg class="search__icon">

        <use xlink:href="../../../assets/icon-search.svg"></use>
      </svg>
    </button> -->
  </form>
</div>
