@import "../../sass/abstract/variables";
@import "bulma/sass/components/dropdown.sass";

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  color: $white;
  height: 100%;
}

.menu {
  display: none;

  @media only screen and (max-width: $bp-1360) {
    display: block;
    min-height: 3rem;
    min-width: 3rem;
    max-height: 5rem;
    max-width: 5rem;
    margin-right: 2rem;
    fill: $primary1;
    cursor: pointer;
    z-index: 2;
  }
}

.mini-search {
  display: none;

  @media only screen and (max-width: $bp-800) {
    display: flex;
    flex: 1;
    z-index: 2;
    align-items: center;
    height: 100%;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $primary1;
    cursor: pointer;
  }
}

.search {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-800) {
    flex: 0 0 100%;
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-1100) {
      position: relative;
    }
  }

  &__category {
    font-size: $font-size-default;
    text-transform: uppercase;
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: $the-border-radius;
    border-bottom-left-radius: $the-border-radius;
    border-right: 1px solid rgba($white, 0.3);
    background-color: $black4;
    cursor: pointer;
    color: $primary1;

    &__dropdown {
      padding: 0rem;
      margin-top: 0.5rem;
      background-color: rgba($black4, 0.9);
      position: relative;
      z-index: 100;

      &__content {
        font-size: $font-size-default;
        color: rgba($white, 0.6);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        border-radius: $the-border-radius;
        cursor: pointer;
      }
    }
  }

  &__dropdown {
    display: flex;
    width: 100%;

    &__container {
      width: 100%;
      background-color: transparent;
      border-top-right-radius: $the-border-radius;
      border-bottom-right-radius: $the-border-radius;
      height: 4rem;

      @media only screen and (max-width: $bp-1100) {
        position: static;
      }
    }

    &__content {
      padding: 0.5rem 0;
      margin-top: 0.5rem;
      background-color: rgba($black4, 0.9);
      position: relative;
      z-index: 100;
    }

    &__item {
      display: grid;
      grid-template-columns: [image-start] 12.5rem [image-end description-start] 1fr [description-end];
      grid-template-rows: 7rem;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        grid-template-rows: 22.3rem;
        background-color: rgba($black3, 0.8);
      }

      &__container-image {
        display: grid;
        grid-column: image-start / image-end;
        grid-row: 1 / -1;
      }

      &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: $the-border-radius;
      }

      &__container-content {
        display: grid;
        grid-column: description-start / description-end;
        grid-row: 1 / -1;
        text-align: center;
        font-size: $font-size-medium;
      }

      &__content {
        font-size: $font-size-default;
        color: rgba($white, 0.6);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: $the-border-radius;
        cursor: pointer;

        &--title {
          display: -webkit-box;
          margin: auto auto;
          line-height: 1.4;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &--extra-info {
          display: none;
        }
      }

      &:hover {
        .search__dropdown__item__container-content,
        .search__dropdown__item__content {
          align-content: center;
          text-align: start;
        }

        .search__dropdown__item__content--title {
          -webkit-line-clamp: 3;
          font-size: $font-size-medium;
          color: $primary1;
          margin: auto 0;
        }

        .search__dropdown__item__content--extra-info {
          display: flex;
          align-items: flex-start;
          font-size: $font-size-medium;
          text-transform: initial;
          margin-top: 1rem;
        }
      }
    }
  }

  &__input {
    font-size: $font-size-default;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.7rem 1.5rem 0.7rem 2.5rem;
    transition: all 0.2s;

    &__container {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: stretch;
      background-color: $black4;
      border-top-right-radius: $the-border-radius;
      border-bottom-right-radius: $the-border-radius;

      .is-active & {
        input,
        .search__button {
          z-index: 100;
        }
      }
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: $black4;
    }

    &::placeholder {
      opacity: 0.6;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: transparent;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    padding: 0 0;
    border-top-right-radius: $the-border-radius;
    border-bottom-right-radius: $the-border-radius;
    padding-right: 1rem;

    &:focus {
      outline: none;
    }
  }

  &__input:focus + &__button {
    background-color: transparent;
  }

  &__icon {
    display: flex;
    height: 3rem;
    width: 3rem;
    border-radius: 100rem;
    cursor: pointer;
    fill: $primary1;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0px);
    }
  }

  &__no-result {
    margin: 0.5rem;
    font-size: $font-size-default;
    text-align: center;
  }
}

.dropdown-menu {
  &.search__dropdown {
    display: none;
    // z-index: 2;
  }
}

.is-active {
  z-index: 2;
}

// Reset padding do framework
a.dropdown-item {
  padding-right: 1rem;

  &:hover {
    background-color: rgba($black4, 0.4);
    color: $white;
  }
}

.membrana {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 0;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &__dropdown {
    padding: 0rem;
    margin-top: 0.5rem;
    background-color: rgba($black4, 0.9);
    position: relative;
    z-index: 100;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: $font-size-default;
    color: rgba($white, 0.6);
    text-transform: uppercase;
    align-items: center;
    border-radius: $the-border-radius;
    cursor: pointer;
    padding: 1.5rem 2rem;
  }

  &__content:hover,
  &__content:hover &__icon {
    color: $primary1;
    fill: $primary1;
  }

  &__notification {
    padding: 1rem 0;
    max-height: 40rem;
    overflow-y: scroll;

    @media only screen and (max-width: $bp-700) {
      width: 35rem;
    }

    &__count {
      position: absolute;
      top: -3px;
      right: -3px;
      height: 2rem;
      width: 2rem;
      color: $black3;
      background-color: $primary1;
      text-align: center;
      border-radius: 100%;
      font-weight: bold;
      font-size: $font-size-default;
      cursor: pointer;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      cursor: default;
      padding: 1rem 2rem;

      &:hover {
        color: rgba($white, 0.6);
        fill: rgba($white, 0.6);
      }
    }

    &__highlight {
      text-align: justify;
      font-size: $font-size-small;

      &:hover {
        color: $primary1;
        cursor: pointer;
      }
    }

    &__text {
      text-align: justify;
      font-size: $font-size-small;
      width: 60rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media only screen and (max-width: $bp-1000) {
        width: 40rem;
      }
    }

    &__menu {
      min-width: max-content;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      font-size: $font-size-medium;
      fill: rgba($white, 0.6);

      &--accept {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;

        &:hover {
          fill: $primary1;
        }
      }

      &--delete {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;

        &:hover {
          fill: $primary1;
        }
      }
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: $font-size-default;
    text-align: end;
    margin-left: 3rem;

    &__name {
      display: flex;
      flex: 1;
      min-width: 0;
      cursor: pointer;

      &__text {
        width: 25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media only screen and (max-width: $bp-1100) {
          width: 15rem;
        }

        @media only screen and (max-width: $bp-800) {
          width: 25rem;
        }

        @media only screen and (max-width: $bp-500) {
          width: 15rem;
        }
      }
    }
  }

  &__item {
    letter-spacing: 0.2rem;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    cursor: pointer;
    fill: $white;

    &--notification {
      height: 3rem;
      width: 3rem;
      margin: 0 0 0 3rem;
      fill: $white;
    }
  }
}

.dropdown.is-right.is-active {
  .account__notification__menu {
    @media only screen and (max-width: $bp-600) {
      right: -17.5rem;
    }
  }
}

.hidden {
  display: none;

  &__search {
    @media only screen and (max-width: $bp-800) {
      display: none;
    }
  }
}
