@import "../../sass/abstract/variables";
@import "bulma/sass/components/dropdown.sass";

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  color: $white;
  height: 100%;
}

.search {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
  }

  &__input {
    font-size: 1.6rem;
    color: inherit;
    background-color: transparent;
    border: none;
    width: 100%;
    // border-radius: 4px;
    // height: 4rem;
    // margin-right: -4rem;
    // margin-left: -10rem;
    padding: 0.7rem 1.5rem 0.7rem 2.5rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: $black4;
    }

    &::placeholder {
      opacity: 0.6;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: transparent;
    }
  }

  &__input:focus + &__button-search {
    background-color: transparent;
  }

  &__button-search {
    border: none;
    background-color: transparent;
    padding: 0 0;
    border-top-right-radius: $the-border-radius;
    border-bottom-right-radius: $the-border-radius;
    padding-right: 1rem;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    display: flex;
    height: 3rem;
    width: 3rem;
    border-radius: 100rem;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: stretch;
  background-color: $black4;
  border-top-right-radius: $the-border-radius;
  border-bottom-right-radius: $the-border-radius;
}

.is-active .input-container {
  input,
  .search__button-search {
    z-index: 100;
  }
}

.button-container {
  font-size: 1.6rem;
  text-transform: uppercase;
  height: 4rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: $the-border-radius;
  border-bottom-left-radius: $the-border-radius;
  border-right: 1px solid rgba($white, 0.3);
  background-color: $black4;
  cursor: pointer;
  color: $primary1;
}

.dropdown__container {
  width: 100%;
  background-color: transparent;
  border-top-right-radius: $the-border-radius;
  border-bottom-right-radius: $the-border-radius;
  height: 4rem;
}

.dropdown-content {
  padding: 0rem;
  margin-top: 0.5rem;
  background-color: rgba($black4, 0.9);
  position: relative;
  z-index: 100;

  &--search {
    padding: 0.5rem 0;
  }

  &__search {
    display: flex;
    width: 100%;
  }
}

.dropdown-menu.dropdown-content__search {
  display: none;
  // z-index: 2;
}

.is-active {
  z-index: 2;
}

.dropdown-container-item {
  display: grid;
  grid-template-columns: [image-start] 12.5rem [image-end description-start] 1fr [description-end];
  grid-template-rows: 7rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    grid-template-rows: 22.3rem;
    background-color: rgba($black3, 0.8);
  }

  &__container-image {
    display: grid;
    grid-column: image-start / image-end;
    grid-row: 1 / -1;
  }

  &__cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $the-border-radius;
  }

  &__container-title {
    display: grid;
    grid-column: description-start / description-end;
    grid-row: 1 / -1;
    text-align: center;
    font-size: 1.4rem;
  }
}

// Reset padding do framework
a.dropdown-item {
  padding-right: 1rem;

  &:hover {
    background-color: rgba($black4, 0.4);
    color: $white;
  }
}

.dropdown-item {
  font-size: 1.6rem;
  color: rgba($white, 0.6);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: $the-border-radius;
  cursor: pointer;

  &--account {
    padding: 1.5rem 2rem;
  }

  &--search-title {
    align-items: center;
  }

  &--search-extra-info {
    display: none;
  }
}

// Hover dos itens do Search
.dropdown-container-item:hover {
  .dropdown-container-item__container-title,
  .dropdown-item {
    align-content: center;
    text-align: start;
  }

  .dropdown-item--search-title {
    display: flex;
    align-items: flex-start;
    font-size: 1.4rem;
    color: $primary1;
  }

  .dropdown-item--search-extra-info {
    display: flex;
    align-items: flex-start;
    font-size: 1.4rem;
    text-transform: initial;
  }
}

.dropdown-divider {
  background-color: rgba($white, 0.2);
}

.membrana {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 0;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;

  &__user {
    font-size: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &:hover {
      background-color: rgba($black4, 0.4);
      color: $white;
    }
  }

  &__item {
    letter-spacing: 0.5rem;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;

    &--notification {
      margin: 0 3rem;
    }
  }
}
