<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" (click)="changePage(atualPage - 1)">
      <a class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <div class="container-item" *ngIf="completePage == true">
      <li class="page-item" *ngFor="let page of pages"
        [ngClass]="{activatedPage : atualPage == page, activatedClass : activated }" (click)="changePage(page)">
        <a [ngClass]="{activatedPage : atualPage == page}" class="page-link">{{page}}
        </a>
      </li>
    </div>
    <div class="container-item" *ngIf="completePage == false">
      <li class="page-item">
        <a class="page-link">{{atualPage}}
        </a>
      </li>
    </div>
    <li class="page-item" (click)="changePage(atualPage + 1)">
      <a class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
