<div class="grid-container">
  <div class="content">
    <div class="header">
      <span class="header__title">Logo</span>
      <span class="header__caption"
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Impedit,</span
      >
    </div>
    <div class="form">
      <input
        [formControl]="email"
        [value]="email.value"
        type="email"
        id="email"
        placeholder="E-mail"
        class="form-control"
      />
      <input
        [formControl]="password"
        [value]="password.value"
        type="password"
        id="password"
        placeholder="Password"
        class="form-control"
      />
      <a (click)="loginWithEmail()" class="btn-login">Login</a>
      <div class="row grid-social-media">
        <div class="col border-bottom-line itens-flex-end">Forgot Password</div>
        <div class="col border-bottom-line itens-flex-start" [routerLink]="['/signup']">Sign Up</div>
        <div class="col itens-flex-end">
          <a class="grid-social-media__btn grid-social-media__btn--google" (click)="loginWithGoogle()">
            <img
              src="../../../assets/icon-google.svg"
              alt="Logo Google"
              class="grid-social-media__icon"
            />
            <span class="grid-social-media__btn--google--text">Google</span>
          </a>
        </div>
        <div class="col itens-flex-start">
          <a class="grid-social-media__btn grid-social-media__btn--apple" (click)="loginWithApple()">
            <img
              src="../../../assets/icon-apple.svg"
              alt="Logo Apple"
              class="grid-social-media__icon"
            />
            <span class="grid-social-media__btn--apple--text">Apple</span>
          </a>
        </div>
        <div class="col itens-flex-end">
          <a class="grid-social-media__btn grid-social-media__btn--facebook" (click)="loginWithFacebook()">
            <img
              src="../../../assets/icon-facebook.svg"
              alt="Logo Facebook"
              class="grid-social-media__icon"
            />
            <span class="grid-social-media__btn--facebook--text">Facebook</span>
          </a>
        </div>
        <div class="col itens-flex-start">
          <a class="grid-social-media__btn grid-social-media__btn--twitter" (click)="loginWithTwitter()">
            <img
              src="../../../assets/icon-twitter.svg"
              alt="Logo Twitter"
              class="grid-social-media__icon"
            />
            <span class="grid-social-media__btn--twitter--text">Twitter</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer footer-company">
    Developed by Midnight Tech. &copy; 2021 All Rights Reserved
  </div>
</div>
