<div class="flex-container">
  <div class="content">
    <header class="header">
      <img class="header__title" src="../../../assets/logo.svg" />
      <span class="header__caption">Don't forget where you left off.</span>
    </header>
    <form class="form">
      <input [formControl]="email" [value]="email.value" type="email" id="email" placeholder="E-mail"
        class="form-control" />
      <div *ngIf="emailError.length != 0">{{emailError}}</div>
      <div *ngIf="emailMessage.length != 0">{{emailMessage}}</div>
      <div *ngIf="providerError.length != 0">{{providerError}}</div>
      <input [formControl]="password" [value]="password.value" type="password" id="password" placeholder="Password"
        class="form-control" />
      <div *ngIf="passwordError.length != 0">{{passwordError}}</div>
      <button type="button" (click)="loginWithEmail()" class="button__login">
        <p class="button__login__text">Login</p>
      </button>
      <aside class="button__social-media">
        <nav class="border-bottom-line itens-flex-end">
          <a (click)="resetPassword()" class="button__normal">Forgot Password</a>
        </nav>
        <nav class="border-bottom-line itens-flex-start">
          <a href="" class="button__normal" [routerLink]="['/signup']">Sign Up</a>
        </nav>
        <button type="button" class="itens-flex-end button__social-media__container" (click)="loginWithGoogle()">
          <a class="button__social-media__content button__social-media__content--google">
            <img src="../../../assets/icon-google.svg" alt="Logo Google" class="button__social-media__icon" />
            <span class="button__social-media__content--google--text button__social-media__content__text">Google</span>
          </a>
        </button>
        <button type="button" class="itens-flex-start button__social-media__container" (click)="loginWithApple()">
          <a class="button__social-media__content button__social-media__content--apple">
            <img src="../../../assets/icon-apple.svg" alt="Logo Apple" class="button__social-media__icon" />
            <span class="button__social-media__content--apple--text button__social-media__content__text">Apple</span>
          </a>
        </button>
        <button type="button" class="itens-flex-end button__social-media__container" (click)="loginWithFacebook()">
          <a class="button__social-media__content button__social-media__content--facebook">
            <img src="../../../assets/icon-facebook.svg" alt="Logo Facebook" class="button__social-media__icon" />
            <span
              class="button__social-media__content--facebook--text button__social-media__content__text">Facebook</span>
          </a>
        </button>
        <button type="button" class="itens-flex-start button__social-media__container" (click)="loginWithTwitter()">
          <a class="button__social-media__content button__social-media__content--twitter">
            <img src="../../../assets/icon-twitter.svg" alt="Logo Twitter" class="button__social-media__icon" />
            <span
              class="button__social-media__content--twitter--text button__social-media__content__text">Twitter</span>
          </a>
        </button>
      </aside>
    </form>
  </div>
  <app-footer-company></app-footer-company>
</div>