@import "../../sass/abstract/variables";

.flex-container {
  background-color: $black3;
  font-size: $font-size-default;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: max-content;
}

.content {
  display: flex;
  flex: auto;
  height: 100%;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-1100) {
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: column;
  font-size: inherit;
  margin-right: 10rem;
  height: 30rem;
  color: $white;

  @media only screen and (max-width: $bp-1100) {
    margin: 4rem 0;
  }

  @media only screen and (max-width: $bp-800) {
    height: min-content;
  }

  @media only screen and (max-width: $bp-500) {
    height: min-content;
  }

  &__title {
    display: flex;
    align-self: baseline;
    height: 15rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-800) {
      height: 12rem;
    }

    @media only screen and (max-width: $bp-500) {
      height: 10rem;
    }
  }

  &__caption {
    max-width: 50rem;
    font-size: $font-caption-sign-in-out-1;
    font-weight: 700;

    @media only screen and (max-width: $bp-800) {
      font-size: $font-caption-sign-in-out-2;
    }

    @media only screen and (max-width: $bp-500) {
      font-size: $font-caption-sign-in-out-3;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  font-size: inherit;
  background-color: $black4;
  padding: 5rem;
  border-radius: $the-border-radius;
}

.form-control {
  font-family: inherit;
  font-size: $font-size-default;
  height: 5rem;
  margin-bottom: 2.5rem;
  padding: 0rem 2rem;
  border-radius: $the-border-radius;
  border: none;

  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
    outline-offset: unset;
  }
}

.button {
  &__login {
    &,
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 5rem;
      background-color: $primary1;
      border-radius: $the-border-radius;
      color: $black3;
      border: none;
      cursor: pointer;
      font-family: inherit;
      transition: transform 0.4s ease;
    }

    &__text {
      font-size: $font-size-default;
      text-decoration: none;
      text-transform: uppercase;
      font-family: inherit;
      font-weight: 600;
      transition: transform 0.4s ease;
    }

    &:hover {
      transform: translateY(-0.5rem);
    }

    &:active {
      transform: translateY(0);
    }

    &:hover &__text {
      transform: scale(1.15);
    }
  }

  &__normal {
    text-decoration: none;
    cursor: pointer;
    color: $white;

    &:hover {
      color: $primary1;
    }
  }

  &__social-media {
    margin-top: 2.5rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    column-gap: 6rem;
    color: $white1;

    @media only screen and (max-width: $bp-500) {
      column-gap: 5rem;
    }

    &__container {
      border: none;
      border-radius: $the-border-radius;
    }

    &__icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1rem;
      transition: transform 0.4s ease;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 14rem;
      width: 100%;
      padding: 1rem;
      border-radius: $the-border-radius;
      font-size: 1.5rem;
      text-decoration: none;
      cursor: pointer;

      @media only screen and (max-width: $bp-500) {
        min-width: 10rem;
      }

      &__text {
        transition: transform 0.2s ease;
      }

      &--google {
        background-color: $white;

        &--text {
          color: #5f6368;
        }
      }

      &--apple {
        background-color: $black;

        &--text {
          color: $white;
        }
      }

      &--facebook {
        background-color: #1976d2;

        &--text {
          color: $white;
        }
      }
      &--twitter {
        background-color: #2aa9e0;

        &--text {
          color: $white;
        }
      }
    }

    &__container:hover &__icon {
      transform: translateX(-0.25rem);
    }

    &__container:hover {
      .button__social-media__content--google--text,
      .button__social-media__content--apple--text,
      .button__social-media__content--facebook--text,
      .button__social-media__content--twitter--text {
        transform: translateX(0.25rem);
      }
    }
  }
}
