@import "../../sass/abstract/variables";

.grid-container-header {
  margin-top: 3rem;
  display: grid;
  grid-template-columns:
    [void-start back-cover-start] 2rem [void-end title-start front-cover-start] minmax(
      auto,
      24rem
    )
    [front-cover-end score-start] auto
    [score-end my-score-start] auto
    [my-score-end serie-info-start] auto
    [serie-info-end void-space-start] 1fr
    [void-space-end episodes-start] auto
    [episodes-end buttons-start] auto
    [buttons-end back-cover-end title-end];

  grid-template-rows:
    [back-cover-start title-start] minmax(auto, 8rem)
    [title-end front-cover-start] minmax(auto, 15rem)
    [cover-info-start] minmax(auto, 7rem)
    [cover-info-end back-cover-end info-out-cover-start] minmax(auto, 11rem)
    [info-out-cover-end front-cover-end];
}

.backcover {
  grid-column: back-cover-start / back-cover-end;
  grid-row: back-cover-start / back-cover-end;
  z-index: 0;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $the-border-radius;
    filter: brightness(0.4);
  }
}

.title {
  grid-column: title-start / title-end;
  grid-row: title-start / title-end;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__text {
    text-transform: uppercase;
    color: $white;
  }

  &__second-text {
    text-transform: uppercase;
    color: rgba($white, 0.8);
    font-size: 1.6rem;
  }
}

.frontcover {
  grid-column: front-cover-start / front-cover-end;
  grid-row: front-cover-start / front-cover-end;
  z-index: 1;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $the-border-radius;
  }
}

.cover-info {
  grid-column: front-cover-end / back-cover-end;
  grid-row: cover-info-start / cover-info-end;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: $white;

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--serie {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: $white;
      fill: $white;
      cursor: pointer;

      &:hover {
        color: $primary1;
        fill: $primary1;
      }
    }
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;

    &--serie {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }

  &__info {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;

    &--right {
      margin-left: 1rem;
    }

    &--left {
      margin-right: 1rem;
    }
  }
}

.score {
  grid-column: score-start / score-end;
  grid-row: info-out-cover-start / info-out-cover-end;
  z-index: 1;
  margin: 2rem 0;
  padding-left: 2rem;
  display: flex;
  align-items: flex-start;

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 1.6rem;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__info {
    font-size: 2rem;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__caption {
    font-size: 1.4rem;
    color: $white;
    text-transform: uppercase;
  }
}

.my-score {
  grid-column: my-score-start / my-score-end;
  grid-row: info-out-cover-start / info-out-cover-end;
  z-index: 1;
  margin: 2rem 0;
  padding-left: 2rem;
  display: flex;
  align-items: flex-start;

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 1.6rem;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__info {
    font-size: 2rem;
    color: $primary1;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__input {
    font-size: 2rem;
    border: none;
    width: 7.5rem;
    background-color: transparent;
    caret-color: $primary1;
    font-family: inherit;

    &:focus {
      outline: none;
      border: none;
    }

    &::placeholder {
      font-size: 1.6rem;
      font-family: inherit;
      opacity: 1;
    }
  }
}

.popularity-serie {
  grid-column: serie-info-start / serie-info-end;
  grid-row: info-out-cover-start / info-out-cover-end;
  z-index: 1;
  margin: 2rem 0;
  padding-left: 2rem;
  display: flex;
  align-items: flex-start;

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 1.6rem;
    color: $white;
    text-transform: uppercase;
  }

  &__info {
    font-size: 2rem;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.episodes {
  grid-column: episodes-start / episodes-end;
  grid-row: info-out-cover-start / info-out-cover-end;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  align-self: flex-start;

  &__flex {
    display: flex;
    text-align: center;
  }

  &__title {
    font-size: 1.6rem;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__info {
    font-size: 1.6rem;
    color: $white;
    text-transform: uppercase;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    margin: 0 0.5rem;
    fill: $white;
    cursor: pointer;

    &:hover {
      fill: $primary1;
    }
  }

  &__input {
    font-size: 2rem;
    border: none;
    width: 2.75rem;
    background-color: transparent;
    caret-color: $primary1;
    font-family: inherit;
    color: $primary1;
    overflow: visible;
    text-align: right;

    &:focus {
      outline: none;
      border: none;
    }

    &::placeholder {
      font-size: 1.6rem;
      font-family: inherit;
      opacity: 1;
    }

    &:focus ~ .episodes {
      align-items: flex-end;
    }
  }
}

.button {
  grid-column: buttons-start / buttons-end;
  grid-row: info-out-cover-start / info-out-cover-end;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 1.5rem 0;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-image: linear-gradient(105deg, $primary1 74%, $primary2 26%);
    background-color: transparent;
    border-radius: $the-border-radius;
    border-bottom: 0.2rem solid rgba($primary3, 1);
    border-right: 0.2rem solid rgba($primary3, 1);
    box-shadow: 0 0.5rem 1rem -0.5rem rgba($black, 1);
    transition: all 0.4s ease;
    cursor: pointer;

    &--recommend {
      margin-bottom: 1.5rem;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__text {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 1rem;
    color: $black3;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $black3;
  }
}

.hidden {
  visibility: hidden;
}
