<div class="grid-container-header">
  <div class="backcover">
    <img *ngIf="type == 'ANIME'" class="backcover__image" [src]="anime.image_url" alt="BackCover" />
    <img *ngIf="type == 'SERIE'" class="backcover__image" [src]="serie.backdrop_path" alt="BackCover" />
    <img *ngIf="type == 'BOOK'" class="backcover__image" [src]="book.volumeInfo.image" alt="BackCover" />
  </div>

  <div class="title" *ngIf="type == 'ANIME'">
    <h1 class="title__text">{{ anime.title }}</h1>
    <h2 class="title__second-text">{{ anime.title_english }}</h2>
  </div>

  <div class="title" *ngIf="type == 'BOOK'">
    <h1 class="title__text">{{ book.volumeInfo.title }}</h1>
  </div>

  <div class="frontcover">
    <img *ngIf="type == 'ANIME'" class="frontcover__image" [src]="anime.image_url" alt="FrontCover" />
    <img *ngIf="type == 'SERIE'" class="frontcover__image" [src]="serie.poster_path" alt="FrontCover" />
    <img *ngIf="type == 'BOOK'" class="frontcover__image" [src]="book.volumeInfo.image" alt="FrontCover" />
  </div>

  <div class="cover-info" *ngIf="type == 'ANIME'">
    <div class="cover-info__flex">
      <p class="cover-info__title">Ranked</p>
      <p class="cover-info__info">#{{ anime.rank }}</p>
    </div>
    <div class="cover-info__flex">
      <p class="cover-info__title">Popularity</p>
      <p class="cover-info__info">#{{ anime.popularity }}</p>
    </div>
    <div class="cover-info__flex">
      <p class="cover-info__title">Members</p>
      <p class="cover-info__info">{{ anime.members }}</p>
    </div>
  </div>

  <div class="cover-info" *ngIf="type == 'SERIE'">
    <div [ngClass]="{ hidden: seasonAtual == 0 }" (click)="changeSeason(seasonAtual - 1)"
      class="cover-info__flex--serie">
      <svg class="cover-info__icon cover-info__icon--left">
        <use href="assets/symbol-defs.svg#icon-arrow_back"></use>
      </svg>

      <p class="cover-info__title--serie" *ngIf="seasonAtual != 0">
        {{ serie.seasons[seasonAtual - 1].name }}
      </p>
    </div>
    <div class="cover-info__flex">
      <p class="cover-info__info">
        {{ serie.name }} ({{ serie.seasons[seasonAtual].name }} )
      </p>
    </div>
    <div [ngClass]="{ hidden: seasonAtual == serie.seasons.length - 1 }" (click)="changeSeason(seasonAtual + 1)"
      class="cover-info__flex--serie">
      <p class="cover-info__title--serie" *ngIf="seasonAtual != serie.seasons.length - 1">
        {{ serie.seasons[seasonAtual + 1].name }}
      </p>

      <svg class="cover-info__icon cover-info__icon--right">
        <use href="assets/symbol-defs.svg#icon-arrow_forward"></use>
      </svg>
    </div>
  </div>

  <div class="score">
    <div class="score__flex">
      <p class="score__title">Score</p>
      <p *ngIf="type == 'ANIME'" class="score__info">{{ anime.score }}</p>
      <p *ngIf="type == 'SERIE'" class="score__info">
        {{ serie.vote_average }}
      </p>
      <p *ngIf="type == 'BOOK'" class="score__info">
        {{ book.volumeInfo.averageRating }}
      </p>
      <p *ngIf="type == 'ANIME'" class="score__caption">
        {{ anime.scored_by }} users
      </p>
      <p *ngIf="type == 'SERIE'" class="score__caption">
        {{ serie.vote_count }} users
      </p>
    </div>
  </div>

  <div class="my-score" *ngIf="onMyList">
    <div class="my-score__flex">
      <p class="my-score__title">My Score</p>
      <p class="my-score__info" (click)="changeRateInput()" *ngIf="!rateInput">
        {{ mycontent?.myrating?.toFixed(5)?.substring(0, 4) || "N/A" }}
      </p>
      <div *ngIf="rateInput">
        <input type="text" [formControl]="rateInputControl" appAutoFocusDirective (blur)="setRate()"
          class="my-score__input my-score__info" placeholder="Score" [dropSpecialCharacters]="false"
          mask="0.00 || 00.00" />
      </div>
    </div>
  </div>

  <div class="popularity-serie" *ngIf="type == 'SERIE'">
    <div class="popularity-serie__flex">
      <p class="popularity-serie__title">Popularity</p>
      <p class="popularity-serie__info">{{ serie.popularity }}</p>
    </div>
  </div>

  <div class="episodes" *ngIf="onMyList">
    <p class="episodes__title">Watched</p>
    <div class="episodes__flex">
      <svg class="episodes__icon" (click)="changeEpisode(mycontent!.mark! - 1)">
        <use href="assets/symbol-defs.svg#icon-remove"></use>
      </svg>

      <!-- <input
        *ngIf="true"
        type="text"
        [formControl]="episodeInputControl"
        appAutoFocusDirective
        (blur)="changeEpisode()"
        class="episodes__input"
        autoSizeInput
        [maxWidth]="60"
      /> -->

      <span (click)="changeMarkInput()" *ngIf="type == 'ANIME'" class="episodes__info">
        <input *ngIf="markInput" type="text" [formControl]="episodeInputControl" appAutoFocusDirective
          (blur)="changeEpisode()" class="episodes__input" />
        <span *ngIf="!markInput">
          {{ mycontent!.mark || 0 }}
        </span>
        /
        <span>
          {{ anime.episodes }}
        </span>
      </span>

      <span (click)="changeMarkInput()" *ngIf="type == 'SERIE'" class="episodes__info">
        <input *ngIf="markInput" type="text" [formControl]="episodeInputControl" appAutoFocusDirective
          (blur)="changeEpisode()" class="episodes__input" />
        <span *ngIf="!markInput">
          {{ serieEpisodeWatched() }}
        </span>
        /
        <span>
          {{ serie.seasons[seasonAtual].episode_count }}
        </span>
      </span>

      <span (click)="changeMarkInput()" *ngIf="type == 'BOOK'" class="episodes__info">
        <input *ngIf="markInput" type="text" [formControl]="episodeInputControl" appAutoFocusDirective
          (blur)="changeEpisode()" class="episodes__input" />
        <span *ngIf="!markInput">
          {{ mycontent!.mark || 0 }}
        </span>
        /
        <span>
          {{ book.volumeInfo.pageCount }}
        </span>
      </span>

      <svg class="episodes__icon" (click)="changeEpisode(mycontent!.mark! + 1)">
        <use href="assets/symbol-defs.svg#icon-add"></use>
      </svg>
    </div>
  </div>

  <div class="button">
    <div class="button__flex button__flex--recommend" (click)="disableReceiveRecommendation(true)">
      <p class="button__text">Recommend to...</p>
      <svg class="button__icon">
        <use xlink:href="assets/symbol-defs.svg#icon-share"></use>
      </svg>
    </div>

    <div *ngIf="onMyList == false" class="button__flex" (click)="addToMyList()">
      <p class="button__text">Add to list</p>
      <svg class="button__icon">
        <use xlink:href="assets/symbol-defs.svg#icon-library_add"></use>
      </svg>
    </div>

    <div *ngIf="onMyList == true" class="button__flex" (click)="deleteToMyList()">
      <p class="button__text">Remove</p>
      <svg class="button__icon">
        <use xlink:href="assets/symbol-defs.svg#icon-delete"></use>
      </svg>
    </div>
  </div>
  <app-recommendation *ngIf="anime" type="ANIME" [contentId]="anime.mal_id.toString()"
    [isActiveRecommend]="isActiveRecommend" (isActiveEvent)="disableReceiveRecommendation($event)">
  </app-recommendation>
  <app-recommendation *ngIf="serie" type="SERIE" [contentId]="serie.id.toString()"
    [isActiveRecommend]="isActiveRecommend" (isActiveEvent)="disableReceiveRecommendation($event)">
  </app-recommendation>
  <app-recommendation *ngIf="book" type="BOOK" [contentId]="book.id" [isActiveRecommend]="isActiveRecommend"
    (isActiveEvent)="disableReceiveRecommendation($event)">
  </app-recommendation>

  <app-content-completed></app-content-completed>
</div>
