<div class="grid-container-header">
  <div class="backcover">
    <img
      class="backcover__image"
      src="https://images.unsplash.com/photo-1485550409059-9afb054cada4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80"
      alt="BackCover"
    />
  </div>

  <div class="title">
    <h1 class="title__text">Violet Evergarden</h1>
    <h2 class="title__second-text">Violet Evergarden</h2>
  </div>

  <div class="frontcover">
    <img
      class="frontcover__image"
      src="https://images.unsplash.com/photo-1485550409059-9afb054cada4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80"
      alt="FrontCover"
    />
  </div>

  <div class="cover-info">
    <div class="cover-info__flex">
      <p class="cover-info__title">Ranked</p>
      <p class="cover-info__info">#57</p>
    </div>
    <div class="cover-info__flex">
      <p class="cover-info__title">Popularity</p>
      <p class="cover-info__info">#65</p>
    </div>
    <div class="cover-info__flex">
      <p class="cover-info__title">Members</p>
      <p class="cover-info__info">1074634</p>
    </div>
  </div>

  <div class="score">
    <div class="score__flex">
      <p class="score__title">Score</p>
      <p class="score__info">8.64</p>
      <p class="score__caption">541015 users</p>
    </div>
  </div>

  <div class="my-score">
    <div class="my-score__flex">
      <p class="my-score__title">My Score</p>
      <p class="my-score__info">9.7</p>
    </div>
  </div>

  <div class="episodes">
    <p class="episodes__title">Watched</p>
    <div class="episodes__flex">
      <img
        class="episodes__icon"
        src="../../../assets/icon-search.svg"
        alt="Less"
      />
      <p class="episodes__info">1 / 14</p>
      <img
        class="episodes__icon"
        src="../../../assets/icon-notification.svg"
        alt="More"
      />
    </div>
  </div>

  <div class="button">
    <div class="button__flex button__flex--recommend">
      <img
        class="button__icon"
        src="../../../assets/icon-search.svg"
        alt="Share"
      />
      <a class="button__text">Recomend to...</a>
    </div>

    <div class="button__flex button__flex--remove">
      <img
        class="button__icon"
        src="../../../assets/icon-notification.svg"
        alt="Remove"
      />
      <a class="button__text">Remove</a>
    </div>
  </div>
</div>
