<div class="grid-container-header"
  [ngClass]="{'grid-container-header--500': !onMyList || (mycontent?.recommended != null)}">
  <div class="backcover">
    <img *ngIf="type == 'ANIME'" class="backcover__image" [src]="anime.image_url" alt="BackCover" />
    <img *ngIf="type == 'SERIE'" class="backcover__image" [src]="serie.backdrop_path" alt="BackCover" />
    <img *ngIf="type == 'BOOK'" class="backcover__image" [src]="book.volumeInfo.image" alt="BackCover" />
  </div>

  <div class="title container-text-overflow " *ngIf="type == 'ANIME'">
    <h1 class="title__text text-overflow" (click)="copyToClipBoard()">{{ anime.title }}</h1>
    <h2 class="title__second-text text-overflow">{{ anime.title_english }}</h2>
  </div>

  <div class="title container-text-overflow" *ngIf="type == 'BOOK'">
    <h1 class="title__text text-overflow" (click)="copyToClipBoard()">{{ book.volumeInfo.title }}</h1>
  </div>

  <div class="frontcover">
    <img *ngIf="type == 'ANIME'" class="frontcover__image" [src]="anime.image_url" alt="FrontCover" />
    <img *ngIf="type == 'SERIE'" class="frontcover__image" [src]="serie.poster_path" alt="FrontCover" />
    <img *ngIf="type == 'BOOK'" class="frontcover__image" [src]="book.volumeInfo.image" alt="FrontCover" />
  </div>

  <div class="cover-info cover-info--anime" *ngIf="type == 'ANIME'">
    <div class="cover-info__flex">
      <p class="cover-info__title">Ranked</p>
      <p class="cover-info__info">#{{ anime.rank }}</p>
    </div>
    <div class="cover-info__flex">
      <p class="cover-info__title">Popularity</p>
      <p class="cover-info__info">#{{ anime.popularity }}</p>
    </div>
    <div class="cover-info__flex">
      <p class="cover-info__title">Members</p>
      <p class="cover-info__info">{{ anime.members }}</p>
    </div>
  </div>

  <div class="cover-info cover-info--serie container-text-overflow" *ngIf="type == 'SERIE'">
    <div [ngClass]="{ hidden: seasonAtual == 0 }" (click)="changeSeason(seasonAtual - 1)"
      class="cover-info__flex--serie">
      <svg class="cover-info__icon cover-info__icon--left">
        <use href="assets/symbol-defs.svg#icon-arrow_back"></use>
      </svg>

      <p class="cover-info__title--serie">
        {{ seasonAtual == 0 ? serie.seasons[0]?.name : serie.seasons[seasonAtual - 1]?.name }}
      </p>
    </div>
    <div class="cover-info__flex text-overflow">
      <p class="cover-info__info cover-info__info--serie text-overflow" (click)="copyToClipBoard()">
        {{ serie.name }} ({{ serie.seasons[seasonAtual].name }} )
      </p>
    </div>
    <div [ngClass]="{ hidden: seasonAtual == serie.seasons.length - 1 }" (click)="changeSeason(seasonAtual + 1)"
      class="cover-info__flex--serie">
      <p class="cover-info__title--serie">
        {{ seasonAtual == serie.seasons.length - 1 ? serie.seasons[0]?.name : serie.seasons[seasonAtual + 1]?.name }}
      </p>

      <svg class="cover-info__icon cover-info__icon--right">
        <use href="assets/symbol-defs.svg#icon-arrow_forward"></use>
      </svg>
    </div>
  </div>

  <div class="score">
    <div class="score__flex">
      <p class="score__title">Score</p>
      <p *ngIf="type == 'ANIME'" class="score__info">{{ anime.scored_by ? anime.score : 'N/A' }}</p>
      <p *ngIf="type == 'SERIE'" class="score__info">
        {{ serie.vote_count != 0 ? serie.vote_average : 'N/A' }}
      </p>
      <p *ngIf="type == 'BOOK'" class="score__info">
        {{ book.volumeInfo.averageRating ? book.volumeInfo.averageRating * 2 : 'N/A' }}
      </p>
      <p *ngIf="type == 'ANIME' && anime.scored_by " class="score__caption">
        {{ anime.scored_by }} users
      </p>
      <p *ngIf="type == 'SERIE' && serie.vote_count != 0" class="score__caption">
        {{ serie.vote_count }} users
      </p>
    </div>
  </div>

  <div class="my-score" *ngIf="onMyList && mycontent?.recommended == null"
    [ngClass]="{ 'my-score--anime-book': type == 'ANIME' || type == 'BOOK' }">
    <div class="my-score__flex">
      <p class="my-score__title">My Score</p>
      <p class="my-score__info" (click)="changeRateInput()" *ngIf="!rateInput">
        {{ mycontent?.myrating?.toFixed(5)?.substring(0, 4) || "N/A" }}
      </p>
      <div *ngIf="rateInput">
        <input type="text" [formControl]="rateInputControl" appAutoFocusDirective (blur)="setRate()"
          class="my-score__input my-score__info" placeholder="Score" [dropSpecialCharacters]="false"
          mask="0.00 || 00.00" />
      </div>
    </div>
  </div>

  <div class="popularity-serie" *ngIf="type == 'SERIE'"
    [ngClass]="{'popularity-serie--500': !onMyList || (mycontent?.recommended != null)}">
    <div class="popularity-serie__flex">
      <p class="popularity-serie__title">Popularity</p>
      <p class="popularity-serie__info">{{ serie.popularity }}</p>
    </div>
  </div>

  <div class="episodes" *ngIf="onMyList && mycontent?.recommended == null">
    <p *ngIf="mycontent && mycontent.watched == true" class="episodes__title">Watched</p>
    <p *ngIf="mycontent && mycontent.watched == false" class="episodes__title">Watching</p>
    <div class="episodes__flex">
      <svg class="episodes__icon episodes__icon--left" (click)="changeEpisode(mycontent!.mark! - 1)">
        <use href="assets/symbol-defs.svg#icon-remove"></use>
      </svg>

      <span (click)="changeMarkInput()" *ngIf="type == 'ANIME'" class="episodes__info">
        <input *ngIf="markInput" type="text" [formControl]="episodeInputControl" appAutoFocusDirective
          (blur)="changeEpisode()" class="episodes__input" />
        <span *ngIf="!markInput">
          {{ mycontent!.mark || 0 }}
        </span>
        /
        <span>
          {{ anime.episodes }}
        </span>
      </span>

      <span (click)="changeMarkInput()" *ngIf="type == 'SERIE'" class="episodes__info">
        <input *ngIf="markInput" type="text" [formControl]="episodeInputControl" appAutoFocusDirective
          (blur)="changeEpisode()" class="episodes__input" />
        <span *ngIf="!markInput">
          {{ serieEpisodeWatched() }}
        </span>
        /
        <span>
          {{ serie.seasons[seasonAtual].episode_count }}
        </span>
      </span>

      <span (click)="changeMarkInput()" *ngIf="type == 'BOOK'" class="episodes__info">
        <input *ngIf="markInput" type="text" [formControl]="episodeInputControl" appAutoFocusDirective
          (blur)="changeEpisode()" class="episodes__input" />
        <span *ngIf="!markInput">
          {{ mycontent!.mark || 0 }}
        </span>
        /
        <span>
          {{ book.volumeInfo.pageCount }}
        </span>
      </span>

      <svg class="episodes__icon episodes__icon--right" (click)="changeEpisode(mycontent!.mark! + 1)">
        <use href="assets/symbol-defs.svg#icon-add"></use>
      </svg>
    </div>
  </div>

  <div class="button" [ngClass]="{'button--500': !onMyList || (mycontent?.recommended != null)}">
    <!-- Botão para recomendação (Aparece em todas as condiçoes exceto quando conteudo é um recomendação) -->
    <div *ngIf="!(onMyList && mycontent?.recommended != null)"
      class="button__flex button__flex--recommend button__flex--top" (click)="disableReceiveRecommendation(true)">
      <p class="button__text">Share</p>
      <svg class="button__icon">
        <use xlink:href="assets/symbol-defs.svg#icon-share"></use>
      </svg>
    </div>

    <!-- Botão ara add conteudo quando conteudo não está na lista -->
    <div *ngIf="!(onMyList == true && mycontent?.recommended == null)" class="button__flex button__flex--top"
      [ngClass]="{'button__flex--bottom': !(onMyList && mycontent?.recommended != null)}"
      (click)="onMyList ? addToMyListFromRecommendation() : addToMyList()">
      <p class="button__text">Add to list</p>
      <svg class="button__icon">
        <use xlink:href="assets/symbol-defs.svg#icon-library_add"></use>
      </svg>
    </div>

    <!-- Botão para remover conteudo da lista e da recomendação -->
    <div *ngIf="onMyList == true" class="button__flex button__flex--remove" (click)="deleteToMyList()">
      <p class="button__text">Remove</p>
      <svg class="button__icon">
        <use xlink:href="assets/symbol-defs.svg#icon-delete"></use>
      </svg>
    </div>
  </div>


  <app-recommendation *ngIf="anime" type="ANIME" [contentName]="anime.title" [contentId]="anime.mal_id.toString()"
    [isActiveRecommend]="isActiveRecommend" (isActiveEvent)="disableReceiveRecommendation($event)">
  </app-recommendation>
  <app-recommendation *ngIf="serie" type="SERIE" [contentName]="serie.name" [contentId]="serie.id.toString()"
    [isActiveRecommend]="isActiveRecommend" (isActiveEvent)="disableReceiveRecommendation($event)">
  </app-recommendation>
  <app-recommendation *ngIf="book" type="BOOK" [contentName]="book.volumeInfo.title" [contentId]="book.id"
    [isActiveRecommend]="isActiveRecommend" (isActiveEvent)="disableReceiveRecommendation($event)">
  </app-recommendation>

  <app-content-completed [isActiveCompleted]="openCompleteWatched" (isActiveEvent)="openCompleteWatched = $event"
    (contentAlter)="mycontent = $event" [content]="mycontent"></app-content-completed>
</div>
