.container-sm {
  background-color: red;
}
.container-md {
  background-color: yellowgreen;
}
.container-lg {
  background-color: blue;
}
.container-xl {
  background-color: palegoldenrod;
}
.container-xxl {
  background-color: peru;
}
.container-fluid {
  background-color: purple;
}

@import "../../sass/abstract/variables";
@import "../../sass/components/buttons";

.header {
  font-size: $font-size-default;
  height: 95vh;
  background-color: $black1;
  padding: 0 3rem;

  &__nav {
    // background-color: $black2;

    p {
      color: white;
    }

    ul {
      padding: 0;
    }
  }
}
