<!-- <div class="container-sm">100% wide until small breakpoint</div>
<div class="container-md">100% wide until medium breakpoint</div>
<div class="container-lg">100% wide until large breakpoint</div>
<div class="container-xl">100% wide until extra large breakpoint</div>
<div class="container-xxl">100% wide until extra extra large breakpoint</div>
<div class="container-fluid">...</div> -->

<header class="container-fluid header">
  <nav class="navbar header__nav">
    <img class="header__brand" src="../../../assets/logo.svg" />
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" [routerLink]="['signin']"
          >Sign In</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" [routerLink]="['signup']"
          >Sign Up</a
        >
      </li>
    </ul>
  </nav>
</header>
