@import "../../sass/abstract/variables";
@import "~bootstrap/dist/css/bootstrap.min.css";

.grid-container {
  background-color: $black3;
  display: grid;
  min-height: 100vh;
  grid-template-columns:
    [menu-start] 18vw [menu-end void-left-start ] minmax(12rem, 1fr)
    [ void-left-end content-start] repeat(
      8,
      [col-start] minmax(min-content, 40rem) [col-end]
    )
    [content-end void-right-start] minmax(12rem, 1fr) [void-right-end];
  grid-template-rows:
    [top-bar-start] minmax(auto, 6rem) [top-bar-end content-start] repeat(
      6,
      [col-start] auto [col-end]
    )
    [content-end footer-start] min-content [footer-end];
}

.menu-container {
  display: grid;
  grid-column: menu-start / menu-end;
  grid-row: top-bar-start / -1;
}

.top-bar-container {
  display: grid;
  grid-column: content-start / content-end;
  grid-row: top-bar-start / top-bar-end;
}

.contents {
  display: grid;
  grid-column: content-start / content-end;
  grid-row: content-start / content-end;
}

.footer {
  display: grid;
  grid-column: content-start / content-end;
  grid-row: footer-start / footer-end;
  font-size: 1.6rem;
}

// Class utilizada para esconder o router que ocupa espaco quando o componente nao ocupa todo o espaco
.hidden-router {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}
