<div class="flex-container" fxFlexFill>
  <div *ngIf="isMenuActive" class="membrana" (click)="isMenuActive = false"></div>
  <div [ngClass]="{ 'menu-container__show': isMenuActive }" class="menu-container">
    <app-menu-left class="menu" (menuLeftEvent)="isMenuActive=$event"></app-menu-left>
  </div>

  <div class="main-container">
    <div class="mini-container">
      <div class="top-bar-container">
        <app-top-bar class="full-width-height" (showMenuEvent)="isMenuActive=$event"></app-top-bar>
      </div>

      <div class="contents">
        <div fxFlex class="full-width-height">
          <router-outlet class="full-width-height"></router-outlet>
        </div>
      </div>
    </div>

    <div class="footer">
      <app-footer-company></app-footer-company>
    </div>
  </div>

</div>
<app-completeScreenLoad *ngIf="loadingService.isLoading"></app-completeScreenLoad>
