<div class="container-grid">
  <div class="title">
    <h1 *ngIf="type == 'ANIME'" class="title__text"> {{friendName}}'s anime</h1>
    <h1 *ngIf="type == 'SERIE'" class="title__text"> {{friendName}}'s serie</h1>
    <h1 *ngIf="type == 'BOOK'" class="title__text"> {{friendName}}'s book</h1>
  </div>

  <div class="pagination pagination--top">
    <app-pagination pageCalled="friendList" (visibleContentAnime)="anime = $event" (visibleContentBook)="book = $event"
      (visibleContentSerie)="serie = $event" [type]="type" [friendId]="friendId" [completePage]="false">
    </app-pagination>
  </div>

  <div *ngIf="loadingService.isLoading" class="list">
    <div class="list__card" *ngFor="let content of loadingArray">
      <!-- {{ content.title }} -->
      <app-card pageCall="loading" [loading]="loadingService.isLoading"></app-card>
    </div>
  </div>

  <div *ngIf="!loadingService.isLoading && type == 'ANIME' " class="list">
    <div class="list__card" *ngFor="let content of anime">
      <!-- {{ content.title }} -->
      <app-card [anime]="content.anime" [friendContent]="content.content" [lookMyList]=false pageCall='friendList'>
      </app-card>
    </div>
  </div>
  <div *ngIf="!loadingService.isLoading && type == 'ANIME' && anime.length == 0">
    This friend don't have any anime in his list, recommend some content to him
  </div>
  <div *ngIf="!loadingService.isLoading && type == 'BOOK'" class="list">
    <div class="list__card" *ngFor="let content of book">
      <!-- {{ content.volumeInfo.title }} -->
      <app-card [book]="content.book" [friendContent]="content.content" [lookMyList]=false pageCall='friendList'>
      </app-card>
    </div>
  </div>
  <div *ngIf="!loadingService.isLoading && type == 'BOOK' && book.length == 0">
    This friend don't have any book in his list, recommend some content to him
  </div>
  <div *ngIf="!loadingService.isLoading && type == 'SERIE'" class="list">
    <div class="list__card" *ngFor="let content of serie">
      <!-- {{ content.name }} -->
      <app-card [serie]="content.serie" [friendContent]="content.content" [lookMyList]=false pageCall='friendList'>
      </app-card>
    </div>
  </div>
  <div *ngIf="!loadingService.isLoading && type == 'SERIE' && serie.length == 0">
    This friend don't have any serie in his list, recommend some content to him
  </div>

  <div class="pagination pagination--bottom">
    <!-- <app-pagination [type]="type" pageCalled="friendList"></app-pagination> -->
  </div>
</div>