<div class="container-grid">
  <div class="title">
    <h1 class="title__text">Resultados</h1>
  </div>

  <div class="pagination pagination--top">
    <app-pagination pageCalled="friendList" (visibleContentAnime)="anime = $event" (visibleContentBook)="book = $event"
      (visibleContentSerie)="serie = $event" [type]="type" [friendId]="friendId"></app-pagination>
  </div>

  <div class="list">
    <div class="list__card" *ngFor="let content of anime">
      <!-- {{ content.title }} -->
      <app-card [anime]="content.anime" [friendContent]="content.content" [lookMyList]=false pageCall='friendList'>
      </app-card>
    </div>
    <div class="list__card" *ngFor="let content of book">
      <!-- {{ content.volumeInfo.title }} -->
      <app-card [book]="content.book" [friendContent]="content.content" [lookMyList]=false pageCall='friendList'>
      </app-card>
    </div>
    <div class="list__card" *ngFor="let content of serie">
      <!-- {{ content.name }} -->
      <app-card [serie]="content.serie" [friendContent]="content.content" [lookMyList]=false pageCall='friendList'>
      </app-card>
    </div>
  </div>

  <div class="pagination pagination--bottom">
    <!-- <app-pagination [type]="type" pageCalled="friendList"></app-pagination> -->
  </div>
</div>