<div class="container-grid">
  <div class="title">
    <h1 *ngIf="type == 'ANIME'" class="title__text">My Anime Recommendations</h1>
    <h1 *ngIf="type == 'SERIE'" class="title__text">My Serie Recommendations</h1>
    <h1 *ngIf="type == 'BOOK'" class="title__text">My Book Recommendations</h1>
  </div>

  <div class="pagination pagination--top">
    <app-pagination pageCalled="myRec" (visibleContentAnime)="anime = $event" (visibleContentBook)="book = $event"
      (visibleContentSerie)="serie = $event" [type]="type" [completePage]="false"></app-pagination>
  </div>

  <div *ngIf="loadingService.isLoading" class="list">
    <div class="list__card" *ngFor="let content of loadingArray">
      <!-- {{ content.title }} -->
      <app-card pageCall="loading" [loading]="loadingService.isLoading"></app-card>
    </div>
  </div>

  <div *ngIf="!loadingService.isLoading && type=='ANIME' " class="list">
    <div class="list__card" *ngFor="let content of anime">
      <!-- {{ content.title }} -->
      <app-card [anime]="content.anime" [mycontent]="content.content" [lookMyList]="false" pageCall="recommendation">
      </app-card>
    </div>
  </div>
  <div *ngIf="!loadingService.isLoading && type=='SERIE' " class="list">
    <div class="list__card" *ngFor="let content of serie">
      <!-- {{ content.volumeInfo.title }} -->
      <app-card [serie]="content.serie" [mycontent]="content.content" [lookMyList]="false" pageCall="recommendation">
      </app-card>
    </div>
  </div>
  <div *ngIf="!loadingService.isLoading && type=='BOOK' " class="list">
    <div class="list__card" *ngFor="let content of book">
      <!-- {{ content.name }} -->
      <app-card [book]="content.book" [mycontent]="content.content" [lookMyList]="false" pageCall="recommendation">
      </app-card>
    </div>
  </div>

  <div class="pagination pagination--bottom">
    <!-- <app-pagination  pageCalled="myRec" [type]="type"></app-pagination> -->
  </div>
</div>