// COLORS
$primary1: #f0a500;
$primary2: #cf7500;
$primary2: #ffd369;

$white1: #f4f4f4;

$white: #fff;
$black: #000;

$black1: #393e46;
$black2: #222831;
$black3: #1a1c20;
$black4: #2f3437;

$font-size-default: 16px;

$the-border-radius: 0.4rem;
