// COLORS
$primary1: #ffba24;
$primary2: #ffd369;
$primary3: #f0a500;
// $primary3: #cf7500;

$white1: #f4f4f4;

$white: #fff;
$black: #000;

$black1: #121317;
$black2: #222831;
$black3: #1a1c20;
$black4: #2f3437;

// FONTS SIZE
$font-size-default: 1.6rem;
// normal
$font-caption-sign-in-up-1: 5rem;
// primeiro break point
$font-caption-sign-in-up-2: 4rem;
// segundo break point
$font-caption-sign-in-up-3: 3rem;

$the-border-radius: 0.4rem;

// OPACITY TO CARROUSEL`S CARD
$opacity-primary: 0;
$opacity-secondary: 0.8;
$opacity-tertiary: 0.9;

// SCALE TO CARROUSEL`S CARD
$scale-carrousel-s: 0.9;
$scale-carrousel-m: 0.95;
$scale-carrousel-l: 1;

// RESPOSIVE BREAKPOINTS
// 1200px
$bp-1200: 75em;
// 1100px
$bp-1100: 68.75em;

// // 1000px
// $bp-1000: 62.5em;

// 800px
$bp-800: 50em;

// // 600px
// $bp-600: 37.5em;

// 600px
$bp-500: 31.25em;
