/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

input {
    margin: 8px 0px;
}

.btn {
    margin: 8px 0px 8px 0px;
}

.btn + .btn{

    margin-left: 8px;
}